<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.url }}" title="Beranda"><i class="fa fa-home hidden-xs"></i><span class="visible-xs-inline">Beranda</span></a></li>
        <li><a href="{{ 'feed.xml' | prepend: site.baseurl }}" title="RSS Feed"><i class="fa fa-rss-square hidden-xs"></i><span class="visible-xs-inline">RSS Feed</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Kategori"><i class="fa fa-list-ul hidden-xs"></i><span class="visible-xs-inline"> Kategori</span></a>
          <ul class="dropdown-menu" role="menu">
            {% for pg in site.pages %}
            {% if pg.is_category == 1 %}
            <li><a href="{{ pg.url }}">{{ pg.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{{ '/tags/' | prepend: site.baseurl }}">Tags</a></li>
          </ul>
        </li>
        <li><a href="#tentang">Tentang</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://facebook.com/{{ site.owner.facebook }}" title="Facebook"><i class="fa fa-facebook hidden-xs"></i><span class="visible-xs-inline">Facebook</span></a></li>
        <li><a href="http://twitter.com/{{ site.owner.twitter }}" title="Twitter"><i class="fa fa-twitter hidden-xs"></i><span class="visible-xs-inline">Twitter</span></a></li>
        <li><a href="http://github.com/{{ site.owner.github }}" title="Github"><i class="fa fa-github hidden-xs"></i><span class="visible-xs-inline">Github</span></a></li>
        <li><a href="http://telegram.me/{{ site.owner.telegram }}" title="Telegram"><i class="fa fa-paper-plane hidden-xs"></i><span class="visible-xs-inline">Telegram</span></a></li>
        <li><a href="mailto:mail@slamath.net" title="E-mail"><i class="fa fa-envelope hidden-xs"></i><span class="visible-xs-inline">E-mail</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>