    		<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="share-facebook" title="Bagikan ke Facebook" target="_blank"><span class="count">
				<span class="fa-stack fa-2x">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>   			
    		</a>
			<a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;original_referer={{ site.url }}{{ page.url }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.owner.twitter }}" class="share-twitter" title="Bagikan ke Twitter" target="_blank"><span class="count">
				<span class="fa-stack fa-2x">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="share-google-plus" title="Bagikan ke Google+" target="_blank"><span class="count">
				<span class="fa-stack fa-2x">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
				</span>
			</a>